body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-size: 13.33px;
  color: #2c2c2c;
  font-family:"Open Sans", "PT Sans", "Arial", sans-serif;
}

.wrapper {
  width: 1060px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 48px 60px 46px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.main-header {
  font-size: 0;
}

.logo {
  padding-bottom: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  font-size: 16px;
}

.main-nav a:hover {
  background-color: #3a3a3a;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

.main-nav {
  background-color: #4d4c4c;
}

a {
  text-decoration: none;
  line-height: 22px;
  color: #2c2c2c;
}

.main-nav a {
  display: inline-block;
  padding: 10px 59px 10px 24px;
  border-left: 1px solid #4d4c4c;
  border-right: 1px solid #4d4c4c;
  color: #fff;
}

.container {
  padding-top: 40px;
}

.sidebar {
  float: left;
  width: 240px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.sidebar-nav {
  line-height: 18px;
}

.sidebar-nav li {
  border: 1px solid #c8c8c8;
  border-bottom: none;
}

.sidebar-nav li:last-child {
  border: 1px solid #c8c8c8;
}

.sidebar-nav a {
  display: inline-block;
  box-sizing: border-box;
  width: 235px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-nav a:hover {
  background-color: #f9f9f9;
  padding-left: 35px;
}

.content {
  float: right;
  width: 680px;
}

.img {
  box-sizing: border-box;
  padding-left: 90px;
  padding-top: 45px;
  border: 1px solid #c8c8c8;
}

.img-bike {
  display: block;
  width: 500px;
  height: 307px;
  background-color: #916363;
}

.description {
  box-sizing: border-box;
  padding: 40px 30px 55px 25px;
  line-height: 21.33px;
}

.description p {
  margin: 0;
  padding: 0;
}

.main-footer {
  background-color: #e1e1e1;
  font-size: 0;
}

.footer-nav {
  width: 100%;
}

.footer-nav li {
  width: 9%;
  display: inline-block;
  padding: 10px 35px 10px 25px;
  font-size: 13.3px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav li:last-child a {
  text-decoration: none;
}

.footer-nav li:last-child {
  width: 33.9%;
  padding-right: 25px;
  text-align: right;
}
